button {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: none;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
    transition: 0.25s ease;
}

.button-add{
    background-color: #BBB1DD;
    color: #ffffff;
    font-size: 3rem;
}

.button-add:hover {
    background-color: #B19CD8;
}

.button-add:disabled {
    background-color: rgb(160, 160, 160);
}

.button-decrease {
    background-color: #FFF9BA;
    color: #ffffff;
    font-size: 3rem;
}

.button-decrease:hover{
    background-color: #FFF47C;
}

.button-decrease:disabled{
    background-color: rgb(160, 160, 160);
}

.button-reset {
    background-color: #EF8FAB;
    color: #ffffff;
    font-size: 1.5rem;
}

.button-reset:hover {
    background-color: #f16a91;
}

